html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  color: #303236;
  font-family: "Raleway", sans-serif;
  background-color: #FAFAFA; }

input, button {
  border: none;
  border: 1px solid #F1FFE8;
  border-radius: 4px;
  border-radius: 2px;
  transition: .3s all ease; }
  input:focus, button:focus {
    outline: none; }

.container {
  width: 100%;
  margin: auto; }

a {
  text-decoration: none;
  color: #9BAAC1; }

ul {
  list-style: none; }

button {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border: 1px solid #AAC19B;
  border-radius: 4px;
  background-color: #AAC19B;
  color: #F1FFE8; }

/* HEADER & NAV BAR
---------- */
header {
  background-color: #686E75;
  width: 100%;
  height: 70px; }
  header .innerheader {
    width: 80%;
    margin: auto; }
    header .innerheader .logo {
      overflow: hidden;
      display: inline-block;
      padding: 13px 0; }
      header .innerheader .logo a {
        float: left;
        font-family: "Bitter", serif;
        font-size: 3em;
        color: #AAC19B; }
        header .innerheader .logo a:hover {
          text-decoration: none; }
    header .innerheader nav {
      float: right; }

/* MAIN PAGE
------------- */
.main h2 {
  float: left; }

.main .logout-btn {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border: 1px solid #686E75;
  border-radius: 4px;
  background-color: #686E75;
  color: #F1FFE8;
  float: right;
  margin: 1.2em 0; }
  .main .logout-btn:hover {
    background-color: #303236;
    border: 1px solid #303236;
    border-radius: 4px; }

.main .add {
  overflow: hidden;
  background-color: #AAC19B;
  border: 1px solid #AAC19B;
  border-radius: 4px;
  float: right;
  margin: 2em;
  padding: .5em; }
  .main .add:hover {
    background-color: #809175;
    border: 1px solid #809175;
    border-radius: 4px; }
  .main .add i {
    display: inline;
    font-size: 1.5em; }
  .main .add p {
    display: inline;
    margin: .8em; }
  .main .add a {
    font-size: 2em;
    color: #F1FFE8; }

.main .allroutes {
  overflow: hidden;
  clear: both;
  border: 1px solid #EDEEEE;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
  background-color: white; }
  .main .allroutes .fa {
    float: left;
    padding: 8px;
    font-size: 1.3em;
    color: #303236;
    transition: .3s all ease; }
    .main .allroutes .fa:hover {
      color: #AAC19B; }
  .main .allroutes .fa-minus-square:hover {
    color: #C8484C; }
  .main .allroutes .hide {
    display: none; }
  .main .allroutes .top h4 {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    float: left; }
  .main .allroutes .top .route-location {
    display: inline-block;
    float: right; }
  .main .allroutes .bottom {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .main .allroutes .bottom::after {
      clear: both;
      content: "";
      display: table; }
  .main .allroutes .left-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    overflow: hidden;
    clear: both; }
    .main .allroutes .left-info:last-child {
      margin-right: 0; }
    .main .allroutes .left-info .routename {
      display: inline-block; }
    .main .allroutes .left-info .routeimage {
      width: 15em;
      height: 15em;
      overflow: hidden;
      margin: 10px;
      position: relative; }
      .main .allroutes .left-info .routeimage img {
        width: 100%;
        position: absolute; }
  .main .allroutes .right-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    display: inline-block;
    float: left;
    overflow: hidden; }
    .main .allroutes .right-info:last-child {
      margin-right: 0; }
    .main .allroutes .right-info .route-type {
      display: inline-block;
      float: left; }
    .main .allroutes .right-info .see-more {
      display: inline-block;
      float: left;
      margin-left: 20px; }
    .main .allroutes .right-info .route-beta {
      clear: both; }
    .main .allroutes .right-info p {
      color: #303236;
      margin-bottom: .5em; }
    .main .allroutes .right-info span {
      color: #C8484C;
      font-weight: bold; }
    .main .allroutes .right-info .delete-route {
      cursor: pointer;
      text-align: center;
      padding: 10px;
      border: 1px solid #C8484C;
      border-radius: 4px;
      background-color: #C8484C;
      color: #F1FFE8;
      float: right;
      margin-left: 1em; }
      .main .allroutes .right-info .delete-route:hover {
        background-color: #96363A;
        border: 1px solid #96363A;
        border-radius: 4px; }
    .main .allroutes .right-info .edit-route {
      cursor: pointer;
      text-align: center;
      padding: 10px;
      border: 1px solid #9BAAC1;
      border-radius: 4px;
      background-color: #9BAAC1;
      color: #F1FFE8;
      float: right; }
      .main .allroutes .right-info .edit-route a {
        color: #F1FFE8; }
      .main .allroutes .right-info .edit-route:hover {
        background-color: #808DA1;
        border: 1px solid #808DA1;
        border-radius: 4px; }

/* SINGLE PAGE VIEW
-------------------- */
.single {
  overflow: hidden;
  width: 70%;
  margin: 0 auto; }
  .single .route-info {
    padding: 2em;
    width: 100%;
    overflow: hidden;
    border: 1px solid #EDEEEE;
    border-radius: 4px;
    background-color: white;
    margin: 2em 0; }
    .single .route-info .single-top {
      overflow: hidden;
      width: 95%;
      margin: auto; }
      .single .route-info .single-top h2 {
        font-family: "Bitter", serif;
        display: inline-block;
        float: left; }
      .single .route-info .single-top .route-location {
        display: inline-block;
        float: right;
        margin-top: 1em; }
    .single .route-info .single-bottom {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      clear: both; }
      .single .route-info .single-bottom::after {
        clear: both;
        content: "";
        display: table; }
      .single .route-info .single-bottom .single-image {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .single .route-info .single-bottom .single-image:last-child {
          margin-right: 0; }
      .single .route-info .single-bottom .right-side {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .single .route-info .single-bottom .right-side:last-child {
          margin-right: 0; }
  .single h2 {
    font-family: "Raleway", sans-serif; }
  .single .single-image {
    overflow: hidden;
    width: 30em;
    border-radius: 4px; }
    .single .single-image img {
      width: 100%;
      height: auto; }
  .single form {
    overflow: hidden;
    width: 100%;
    border: 1px solid #EDEEEE;
    border-radius: 4px;
    padding: 2em;
    background-color: #ffffff; }
    .single form h3 {
      font-family: "Bitter", serif;
      color: #AAC19B; }
    .single form p {
      display: inline-block;
      margin-right: 1em; }
    .single form label {
      font-size: 1.8em; }
    .single form .check {
      overflow: hidden;
      padding-left: 2em; }
      .single form .check p {
        margin-top: 1em;
        font-size: 1.8em; }
    .single form button {
      clear: both;
      float: left;
      margin: 0.5em 1em; }
      .single form button:hover {
        background-color: #809175;
        border: 1px solid #809175;
        border-radius: 4px; }
