<section class="single">

  <div class="single-image">
    <img ng-src=" {{ route.image }} ">
  </div>

  <h2>{{ route.routename }}</h2>
  <p>{{ route.grade }}</p>
  <p>{{ route.routetype }}</p>

  <!-- <p ng-click="editRoute(route)">edit</p> -->

  <form ng-submit="editRoute(route)">
    Completed Climb?<input type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Completed" ng-model="route.completed">
    <input type="text" id="" placeholder="Trip and/or climb notes" ng-model="route.tripnotes">
    <button>Update Ticklist</button>
  </form>


</section>
