<section class="single">

  <div class="route-info">

    <div class="single-top">
      <h2>{{ route.routename }}</h2>
      <p class="route-location"><a href="http://www.mountainproject.com/scripts/Search?query={{ r.area }}&Submit=Search" target="_blank">{{ route.area }}</a> | {{ route.state }}</p>
    </div>

    <div class="single-bottom">

      <div class="single-image">
        <img ng-src=" {{ route.image }} ">
      </div>

      <div class="right-side">
        <p>{{ route.routetype }} | {{ route.grade }}</p>
        <p>{{ route.beta }}</p>
        <p class="mp-search"><a href="http://www.mountainproject.com/scripts/Search?query={{ route.mplink }}&Submit=Search" target="_blank">Search on Mountain Project</a></p>
        <hr />
        <p class="hide">Trip notes:</p><p class="route-notes">Trip notes: {{ route.tripnotes }}</p>
        <div class="back-button">
          <p><a href="#/">Home</a></p>
        </div>
      </div>


    </div>
  </div>



  <!-- <p ng-click="editRoute(route)">edit</p> -->
  <form class="edit-route" ng-submit="editRoute(route)">
    <h3>Add Climb to Ticklist</h3>
    <div class="check">
      <p>Completed Climb? </p><input class="completed-box" type="checkbox" [ng-true-value="true"] [ng-false-value="false"] id="" placeholder="Completed" ng-model="route.completed">
    </div>
    <div class="large-12 columns">
      <label>Trip / climb Notes:
        <textarea placeholder="Notes" ng-model="route.tripnotes"></textarea>
      </label>
    </div>
    <button>Update Ticklist</button>
    <p class="updated-notice"></p>
  </form>

</section>
