@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";

/* DECLARATIONS
---------------- */

$darkgrey: #303236;
$red: #C8484C;
$darkred: #96363A;
$grey: #686E75;
$blue: #9BAAC1;
$darkblue: #808DA1;
$purple: #AB8387;
$light: #F1FFE8;
$green: #AAC19B;
$background: #FAFAFA;

$bitter:'Bitter', serif;
$raleway: 'Raleway', sans-serif;

/* MIXINS
---------- */

@mixin border ($color) {
  border: 1px solid $color;
  border-radius: 4px;
}

@mixin transition() {
  transition: .3s all ease;
}

@mixin button($color) {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  @include border($color);
  background-color: $color;
  color: $light;
  // width: 5em;
  // float: right;
}

/* GLOBAL STYLES
---------------- */

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  color: $darkgrey;
  font-family: $raleway;
  background-color: $background;
}

input, button {
  border: none;
  @include border($light);
  border-radius: 2px;
  @include transition();

  &:focus {
    outline: none;
  }

}

.container {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: $purple;

  &:hover {
    // text-decoration: underline;
  }
}

ul {
  list-style: none;
}

/* HEADER & NAV BAR
---------- */

header {
  background-color: $grey;
  width: 100%;
  height: 70px;

  .innerheader {
    width: 80%;
    margin: auto;

    .logo {
      overflow: hidden;
      display: inline-block;
      padding: 13px 0;

      a {
        float: left;
        font-family: $bitter;
        font-size: 3em;
        color: $green;

        &:hover {
          text-decoration: none;
        }
      }
    }

    nav {
      float: right;

    }
  }
}

/* MAIN PAGE
------------- */

.main {
  h2 {
    float: left;
  }

  .logout-btn {
    @include button($grey);
    float: right;
    margin: 1.2em 0;

    &:hover {
      background-color: $darkgrey;
      @include border($darkgrey);
    }
  }

  .add {
    overflow: hidden;
    background-color: $green;
    @include border($green);
    float: right;
    margin: 2em;
    padding: .5em;

    &:hover {
      background-color: $blue;
      @include border($blue);
    }
    i {
      display: inline;
      font-size: 1.5em;
    }
    p {
      display: inline;
      margin: .8em;
    }
    a {
      font-size: 2em;
      color: $light;
    }
  }

  .allroutes {
    overflow: hidden;
    clear: both;
    @include border(#EDEEEE);
    padding: 1em;
    margin: 1em;
    background-color: white;

    .fa {
      float: left;
      padding: 8px;
      font-size: 1.3em;
      color: $darkgrey;
      @include transition;
      &:hover {
        color: $green;
      }
    }

    .fa-minus-square:hover {
      color: $red;
    }

    .hide {
      display: none;
    }

    .top {
      h4 {
        font-family: $raleway;
        display: inline-block;
        float: left;
      }
      .route-location {
        display: inline-block;
        float: right;
      }
    }

    .bottom {
      @include outer-container;
    }

    .left-info {
      @include span-columns(3);
      overflow: hidden;
      clear: both;

      .routename {
        display: inline-block;
      }
      .routeimage {
        width: 10em;
        height: 10em;
        overflow: hidden;
        margin: 10px;
        position: relative;

        img {
          position: absolute;
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
          margin: auto;
          height: auto;
          width: auto;
        }
      }
    }

    .right-info {
      @include span-columns(9);
      display: inline-block;
      float: left;
      overflow: hidden;

      .route-type {
        display: inline-block;
        float: left;
      }

      .see-more {
        display: inline-block;
        float: left;
        margin-left: 20px;
      }

      .route-beta {
        clear: both;
      }

      p {
        color: $darkgrey;
        margin-bottom: .5em;
        // display: inline-block;
      }
      span {
        color: $blue;
        font-weight: bold;
      }

      .delete-route {
        @include button($red);
        float: right;
        margin-left: 1em;

        &:hover {
          background-color: $darkred;
          @include border($darkred);
        }
      }

      .edit-route {
        @include button($blue);
        float: right;
        a {
          color: $light;
        }

        &:hover {
          background-color: $darkblue;
          @include border($darkblue);
        }
      }
    }
  }
}
